#release-filter {
    display: block;
    margin-bottom: 20px;
    width: 90%;
}

#release-filter > div {
    display: block;
    border: 1px solid rgb(66, 72, 74);
    border-radius: 10px;
    padding: 10px;
}

#release-filter > div.active {
    border-color: rgb(197, 134, 200);
}

#release-filter > div > h5 {
    margin: 0;
    margin-bottom: 10px;
    color: rgb(176, 169, 159);
    font-size: 16px;
    line-height: 20px;
}

#release-filter > div.active > h5 {
    color: rgb(197, 134, 200);
}

#release-filter > div > ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#release-filter > div > ul > li {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin: 3px 0;
    padding: 3px 0;
    cursor: pointer;
    color: rgb(176, 169, 159);
}

#release-filter > div > ul > li.active {
    color: rgb(197, 134, 200);
}